
.professonal-page {
	.avatar-container {
		height: 50px;
		width: 50px;
		border-radius: 200px;
		background-size: cover;
		background-position: center center;
	}
	
	.list-item {
		margin-bottom: 20px;
	}
	
	.rate {
		color: 	#f59d00;
	}
	
	.value {
				font-weight: 600;
		font-size: 16px;
	}
	
	
	.my-auto {
		margin-top: auto;
margin-bottom: auto;
	}
}