html,
body {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #7a7a7a;
}

.nav-bar {
    height: 60px;
    background: #820ec4;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
}   

.nav-bar-space {
    height: 60px;
}

.page {
	max-width: 700px;
	margin: 10px auto 0px;
}

.logo-text {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
}

@import "./login.scss";
@import "./register.scss";
@import "./home.scss";
@import "./search-page.scss";
@import "./item-page.scss";
@import "./login.scss";
@import "./perfil-page.scss";
@import "./coachs-list.scss";
