.register-page {
    background: linear-gradient(#820ec4, #b662d4);
    height: 100%;
    width: 100%;
    position: fixed;

    .register-container {
        max-width: 400px;
        margin: auto;
        color: white;
        flex: 1;
    }
}